
@import url(https://fonts.googleapis.com/css?family=Roboto);
body{
	font-family: 'Roboto', sans-serif;
    background-color: blue;
    font-family: sans-serif;
    font-style: 14px;
    color: #efefef;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

.emp {
	position: relative;
	width: 30%;
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%	;
	display: none;
	top: 0;
	left: 0;
	background-color: hsla(0,0%,0%,0.5);
}